<section id="bilder">
  <div class="p-5 text-center">
    <h2>Steder som jeg har fisket</h2>
    <p class="mb-5">
      Her er det noen bilder av steder jeg har fisket og hatt gode opplevelser fra <i class="bi bi-emoji-sunglasses"></i>
    </p>
    <div id="carouselExampleControls1" class="container carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="rounded shadow-1-strong mb-1" src="./img/GruntVann.jpg" alt="gruntvann" style="width: 500px" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h5 class="mb-3">Homburgsund</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="rounded shadow-1-strong mb-4" src="./img/Torshavn.jpg" alt="torshavn" style="width: 500px" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h5 class="mb-3">Torshavn</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="rounded shadow-1-strong mb-4" src="./img/KohKood.jpg" alt="kohkood" style="width: 500px" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h5 class="mb-3">Koh Kood</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="rounded shadow-1-strong mb-4" src="./img/Slegga.jpg" alt="slegga" style="width: 500px" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h5 class="mb-3">Slegga, Trondheimsfjorden</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="rounded shadow-1-strong mb-4" src="./img/oven.jpg" alt="slegga" style="width: 500px" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h5 class="mb-3">Oven, Oslofjorden</h5>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="rounded shadow-1-strong mb-4"
            src="./img/KohSamui.jpg"
            alt="kohsamui"
            style="width: 500px"
            height="400px" />
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <h5 class="mb-3">
                Koh Samui (Gir meg ikke med å fiske bare fordi det blåser litt)
                <i class="bi bi-tornado"></i>
              </h5>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</section>
