<section id="favorittfisk">
    <div class="p-5 text-center">
      <h2>Fisk som er tatt bilde av</h2>
      <p class="mb-5">Dette er noen av fiskene som er fanget på stang fra båt og land</p>
      <div id="carouselExampleControls" class="container carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="rounded-circle shadow-1-strong mb-1" src="./img/Torsk.jpg" alt="torsk" style="width: 400px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Torsk</h5>
                
                <p class="text-muted">
                  <i class="fa-solid fa-fish-fins fa-spin pe-2"></i>
                  Torsk fanget på stang, fra båt i Trondheimsfjorden
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="rounded-circle shadow-1-strong mb-4" src="./img/Makrell.jpg" alt="makrell" style="width: 400px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Makrell</h5>
                
                <p class="text-muted">
                  <i class="fa-solid fa-fish-fins fa-spin pe-2"></i>
                  En liten makrell fanget fra Gullberget i Trondheimsfjorden. Brukt en stingsild 18g blå/grønn og sølv.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="rounded-circle shadow-1-strong mb-4" src="./img/Sei.jpg" alt="sei" style="width: 400px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Sei</h5>
                
                <p class="text-muted">
                  <i class="fa-solid fa-fish-fins fa-spin pe-2"></i>
                  En veldig liten sei fanget fra land. Bet på stingsild 12g blå med svarte prikker, rosa underdel og sølv.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="rounded-circle shadow-1-strong mb-4" src="./img/Barracuda.jpg" alt="barracuda" style="width: 400px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Barracuda</h5>
                
                <p class="text-muted">
                  <i class="fa-solid fa-fish-fins fa-spin pe-2"></i>
                  Barracuda og en ukjent dyphavsfisk tatt på stang, fra båt utenfor Koh Chang.
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="rounded-circle shadow-1-strong mb-4" src="./img/mort.jpg" alt="mort" style="width: 400px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Mort</h5>
                
                <p class="text-muted">
                  <i class="fa-solid fa-fish-fins fa-spin pe-2"></i>
                  En fin mort tatt med dupp og mark. 
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="rounded-circle shadow-1-strong mb-4" src="./img/Gjedde.jpg" alt="gjedde" style="width: 400px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Gjedde</h5>
                
                <p class="text-muted">
                  <i class="fa-solid fa-fish-fins fa-spin pe-2"></i>
                  En ung gjedde som angrep sluken som svømte langs med sivet. 
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="rounded-circle shadow-1-strong mb-4" src="./img/Knorr.jpg" alt="knorr" style="width: 400px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Knorr</h5>
                
                <p class="text-muted">
                  <i class="fa-solid fa-fish-fins fa-spin pe-2"></i>
                  En liten knorr som biter på hva som helst av sluk!
                </p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="rounded-circle shadow-1-strong mb-4" src="./img/Tunfisk.jpg" alt="tunfisk" style="width: 400px;" />
            <div class="row d-flex justify-content-center">
              <div class="col-lg-8">
                <h5 class="mb-3">Tunfisk</h5>
                
                <p class="text-muted">
                  <i class="fa-solid fa-fish-fins fa-spin pe-2"></i>
                  Tunfisk fisket fra båt utenfor Phuket. 
                </p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
  </section>