<section id="kontaktmeg">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <h2>Kom i kontakt med meg</h2>
        <p>Det blir ikke så lett, men du kan gjerne prøve</p>
        <button id="kontaktmeg2" class="btn btn-primary">
          Kontakt Informasjon
        </button>
      </div>
    </div>
  
  <div id="contactDetails" class="row mt-5">
    <div class="col-md-4">
      <div class="r-icon"><i class="bi bi-phone"></i></div>
      <div class="text-center">
        <h5>Ringe meg</h5>
        <p class="text-muted">Har ikke telefon!</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="r-icon"><i class="bi bi-envelope-at"></i></div>
      <div class="text-center">
        <h5>Email</h5>
        <p class="text-muted">Nei takk</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="r-icon"><i class="bi bi-house-door"></i></div>
      <div class="text-center">
        <h5>Besøk meg</h5>
        <p class="text-muted">
          Parker ett sted langs Oslofjorden og begynn å gå... Til slutt ser du
          meg <i class="bi bi-emoji-sunglasses"></i>
        </p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <h3>Hjelpemidler</h3>
    <div class="col-5">
      <p>
        Hvis du synes at teksten blir litt liten, trykk på Av knappen. Da blir
        det større tekst på siden.
      </p>
    </div>
    <div class="col-5 text-end">
      <div class="checkbox">
        <label><input id="accessToggle" type="checkbox" data-toggle="toggle" data-offstyle="secondary" data-on="På" data-off="Av"/>Større skrift</label>
        
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <div class="r-icon text-center mt-3">
        <ul>
          <li id="face" class="list-inline-item" data-bs-toggle="tooltip" title="Facebook">
            <a href="" rel="noopener" ><i class="fa-brands fa-square-facebook" title="Facebook...eller"></i></a></li>
          <li id="twitt" class="list-inline-item" data-bs-toggle="tooltip" title="X-Twitter">
            <a href="" rel="noopener" ><i class="fa-brands fa-square-x-twitter" title="X-Twitter...eller"></i></a></li>
          <li class="list-inline-item" data-bs-toggle="tooltip" title="Youtube fiskevideoer"><a href="https://www.youtube.com/results?search_query=fiske" target="_blank" rel="noopener" >
            <i class="fa-brands fa-square-youtube" data-bs-toggle="tooltip" title="Videoer med fisking!"></i></a></li>
          <li class="list-inline-item" data-bs-toggle="tooltip" title="vær"><a id="yr" href="https://www.met.no/vaer-og-klima/tekstvarsel-for-kysten" target="_blank" rel="noopener" >
            <img src="./img/icon-logo-yr.png" alt="yr-logo" style="padding-bottom: 15%;"></a></li>
        </ul>
      </div>
    </div>
  </div>

  <iframe src="https://www.yr.no/nb/innhold/1-47109/table.html" title="Været for Sperrebotn" width="100%" height="550"></iframe>
  
  
</section>
