<section class="ommeg" id="ommeg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img
          id="bildeAvMeg"
          src="./img/bildeAvMeg.jpg"
          class="img-fluid border-0 rounded-pill"
          style="width: 500px"
          alt="Profile Picture" />
      </div>
      <div class="col-lg-6 mt-5 mt-lg-0">
        <h2 id="omMeg">Om meg</h2>

        <h3>
          Hei! <br />
          <span style="color: blue">Jeg heter Anders Erichsen og er en ivrig sportsfisker.</span>
        </h3>
        <p>
          Er en stangfisker som liker å fiske i saltvann og ferskvann, helst fra land. I saltvann er jeg alltid på jakt etter
          ørret, i ferskvann også ørret eller røye <i class="bi bi-emoji-smile pe-2"></i>
        </p>
        <p>
          Veldig gøy å fiske med mark og dupp sammen med barna mine, blir ikke store fiskene. Men gleden er stor når mine
          barn får sin egen fisk på kroken.
        </p>
        <br />
        <button id="sweet" class="btn btn-primary" onclick="hoho()">
          Ett lite trykk for ett bilde! <i class="fa-regular fa-image"></i>
        </button>

        <div class="ørret">
          <img src="./img/Ørret.jpg" style="width: 500px" alt="ørret" />
        </div>
      </div>
    </div>
  </div>
</section>
<br />
