<!DOCTYPE html>
<html lang="nb-no">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Min Fantastiske side</title>
    <%- include('./partials/head.ejs') %>
  </head>

  <body class="position-relative" data-bs-spy="scroll">
    <%- include('./partials/navbar.ejs') %>
    <div data-spy="scroll" data-target="#navbar" data-offset="0">
      <%- include('./partials/kontaktmeg.ejs') %>
    </div>

    <%- include('./partials/scripts.ejs') %>
  </body>
</html>
